Makefile
Makefile.in
aclocal.m4
autom4te.cache/
compile
config.*
configure
install-sh
libtool
ltmain.sh
m4/libtool.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4
missing
stamp-h1
depcomp

.deps
.dirstamp

# dyn linking
.libs
*.lo
*.la
*.o

# test
test*.log
check*.log
check*.trs
test-driver


# Binary test suites
check_core
check_array
check_hashmap
